.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


label.price {
  font-weight: 700;
  right: -3px;
  top: 25px;
  margin-left: 50px;
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  margin-left: 15px;
  background: #ffdc40;
  text-shadow: rgba(255, 255, 255, 0.2) 1px 1px,
    rgba(255, 255, 255, 0.2) 1px 1px;
  -moz-border-radius: 0 3px 2px 0px;
  -webkit-border-radius: 0;
  border-radius: 0 3px 2px 0px;
}
label.price:after {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 0;
  height: 0;
  display: inline-block;
  line-height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #ffdc40 #ffdc40 #ffdc40 transparent;
}
label.price:before {
  content: "";
  position: absolute;
  bottom: 6px;
  width: 120px;
  left: -35px;
  height: 4px;
  -moz-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  z-index: -1;
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -webkit-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
}

.imagecont {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease;
  background-color: rgba(0, 123, 255, 0.9);
}

.imagecont:hover .overlay {
  opacity: 1;
}



.text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.centerMe{
  text-align: center;
  height: 100%;
  width: 100%;
}

.rightText{
  text-align: right;
}
