.App {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(248, 249, 250);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.row {
  background-color: #ff9293;
  height: 10rem;
}

[class*="col-"] {
  background-color: #f8f9fa;
  height: 50rem;
  /* uncomment to see what area the card covers
  border: 2px solid rgba(0,0,0,0.3);
*/
}

.noTextDecoration {
  text-decoration: none !important;
}

#container-scroll {
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 130px;
  background: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 113%;
  height: 2px;
  background: white;
}

.toggle-button_title {
  color: white;
  margin: 5px 20px;
  display: center;
}

.spacer {
  height: 5px;
  width: calc(50% - 200px);
}
